<div class="container">
  <div class="row">
    <h2>{{user.knownAs}}'s Profile</h2>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <img class="profile-image thumbnail" src="{{user?.photoUrl}}" alt="{{user?.knownAs}}">
        <div class="panel-body">
          <div>
            <strong>Location:</strong>
            <p>{{user.city}}, {{user?.country}}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{user.age}}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{user.lastActive}}</p>
          </div>
          <div>
            <strong>Member Since:</strong>
            <p>{{user.created}}</p>
          </div>
        </div>
        <div class="panel-footer">
          <div class="btn-group-justified">
            <div class="btn-group">
              <button class="btn btn-primary">Like</button>
            </div>
            <div class="btn-group">
              <button class="btn btn-success">Message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <tabset class="member-tabset">
        <tab heading="About {{user?.knownAs}}">
          <h4>Description</h4>
          <p>{{user.introduction}}</p>
          <h4>Looking For:</h4>
          <p>{{user.lookingFor}}</p>
        </tab>
        <tab heading="Interests">
          <h4>Description</h4>
          <p>{{user.interests}}</p>        
        </tab>
        <tab heading="Photos">
         <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </tab>
        <tab heading="Messages">
          <p>Message will go here</p>
        </tab>
      </tabset>
    </div>
  </div>
</div>